body {  height: 100%;
  width: 100%;
  margin: 0;
}
.search-container {
  display: flex;
  align-items: center;
  border: solid 1px;
  background-color:white ;
  border-radius: 10px;
  overflow: hidden;
  }


input[type="text"] {
  padding: 10px;
  border-radius: 0px 0px; 
  width: 300px; 
  border: none;
  outline: none;
  
}

button[type="submit"] {
  padding: 0px 0px;
  background-color: #ffffff; 
  color: #fdf7f7;
  border: none;
  border-radius: 0 px px 0; 
}
nav { background-color: #2b00ff;
     display: flex;
  align-items: center;
    justify-content:space-evenly ;
}
i {color: black;
}

.dropdowns{display: flex;
          gap: 10px;
          background-color: #0f00db;
         padding-left: 50px ;
        justify-content: center;}
.dropdown {
    background-color: #0f00db;
    width:flex;
    padding:10px;
    
    
    
}

.dropdown > div  {
      width:flex;
      background-color: #4c488e;
      display:none;
      flex-direction: column;
         position:absolute; }

.dropdown:hover > div {
  display: flex;
}
.dropdown > div > a{padding: 5px;
       text-decoration:none;
       color:#0000f5;}
.dropdown >div > a:hover{
    background-color:#3300ff;
}

/* meio */
.container{
  flex-direction: row;
  gap: 20px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
 
}
.titulo { 
  width: 250px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  
}
.titulo > label {
  margin-top: 30px;
 
}
.imagens  {width: 250px;
  height: 120px;
  background-color: #4c615a;
}


.imagens > img{ width:250px;
  height: 150px;

  

}
.container > a {border: 5px solid #2402cf;
              border-radius: 5px ;
              }
h2 {margin-top: 50px;
   }

.container > a{
  display: flex;
  flex-direction: column;
  padding: 10px;
}
footer {background-color: #3300ff;
    margin-top: 50px;

}
.banner{
    text-align: center;
    padding: 30px;

}
.banner > a > img{
    height: 300px;

}